//- User Profile Page
//- Converted from app/views/users/profile_pages/show.html.slim

//- Additional assets
!= stylesheet_link_tag('gallery')
!= javascript_include_tag('gallery')

//- Top section content
- content_for('top_section', function() {
  != render('users/structured_data', { user: user })
- })

//- Top alert section
- content_for('top_alert', function() {
  if ownProfile
    .alert.alert-info.not-logged-in= t('banners.self_profile.title')
- })

//- Vacation/probation banner
- var vacationBanner = ''
if user_signed_in()
  - vacationBanner = capture(function() {
    if currentUser.probation && !ownProfile
      != render('users/probation_banner')
    else if showVacationBanner(user)
      != render('users/vacation_banner', { user: user })
  - })

.row
  //- Left sidebar
  .l3
    //- Show vacation banner on mobile
    .visible-xs!= vacationBanner

    //- User info sections
    != render('shared/user_info_top_section', { kind: 'profile', user: user })
    != render('shared/user_info', { user: user })

    //- Write recommendation link
    if user_signed_in() && !ownProfile
      - var refLink = pathToReference(user)
      if refLink
        div(id=`write-ref-${user.id}` class=(currentUser.followees.indexOf(user) === -1 ? 'hide' : ''))
          != link_to(t('recommendation.write', { name: user.firstName }), refLink, { class: 'btn btn-primary btn-block' })
          br

    //- Friends panel
    != render('users/friends/friends_panel', { user: user })

  //- Main content area
  .l9
    //- Show vacation banner on desktop
    .hidden-xs!= vacationBanner

    //- Flag button (if allowed)
    .pull-right.text-right
      if mayFlag
        #flag-button
        br
        script.
          simbi('createComponent').then(function(createComponent) {
            createComponent('FlagButton', {
              el: '#flag-button',
              propsData: {
                scope: 'users',
                flag: gon.flag
              }
            });
          });

      //- Admin impersonation links
      if currentUser && currentUser.admin
        != link_to(t('impersonation.switch-link', { firstName: user.firstName }), `/users/impersonate/switch?id=${user.id}&imp=true`)
        if currentUser.superAdmin
          br
          != link_to(t('impersonation.login-link'), `/users/impersonate/switch?id=${user.id}`)

      //- Organization member links
      else if user.organization
        - var orgMember = user.organizationMembers.find(m => m.userId === currentUser.id)
        if orgMember
          if orgMember.admin
            != link_to('Edit', `/organizations/${user.id}/edit`, { class: 'margin-left-text' })
          unless orgMember.member
            != link_to(t('impersonation.login-link'), `/users/impersonate/switch_to_organization?id=${user.id}`, { method: 'post', class: 'margin-left-text' })

    //- Profile header
    h3.mt-0
      = t(`${user.profileType}.profile_title`, { name: user.firstName })
      if currentUser && currentUser.admin
        - var userState = userProfileState(user)
        if userState
          span.text-gray  (#{userState})

    h5.no-margin #{user.shortAddress} | Member since #{l(user.registeredAt, { format: '%B %Y' })}
    hr.margin-top-text

    //- About section
    if user.about
      h4 About #{user.fullName}
      .user-links.margin-top-text(style='word-break:break-word;margin-bottom:15px')
        != formatUserText(user.about)

    //- Registration number (for organizations)
    if user.registrationNumber
      div(style='margin-bottom:15px')
        h4= t('organization.profile.registration_number')
        = user.registrationNumber

    //- Communities and websites
    != render('users/shared/community_list', { communities: user.communities.withoutPrivate })
    != render('users/shared/websites_list', { websites: user.websites, i18nScope: `${user.profileType}.sites` })

    //- Chat section
    if gon.comments
      != render('chat')

    //- User's offered services
    if userServices.offered && userServices.offered.length > 0
      hr
      h4#user-services #{user.fullName}'s Services
      br
      .row.condensed
        each service in userServices.offered
          != render('services/card', { service: service, dashboard: true })

    //- User's requests
    if userServices.requests && userServices.requests.length > 0
      hr
      .anchor#user-requests
      h4 #{user.fullName}'s Requests
      br
      .row.condensed
        each service in userServices.requests
          != render('services/card', { service: service, gridClass: 'l6 t6' })
      hr

    //- User's projects
    if userServices.projects && userServices.projects.length > 0
      hr
      .anchor#user-projects
      h4 #{user.fullName}'s Projects
      br
      .row.condensed
        each service in userServices.projects
          != render('services/card', { service: service, gridClass: 'l6 t6' })
      hr

    //- User's products
    if userServices.products && userServices.products.length > 0
      h4#user-products #{user.fullName}'s Products
      br
      .row.condensed
        each service in userServices.products
          != render('services/card', { service: service })
      hr

    //- Reviews section
    if reviews && reviews.length > 0
      br
      .anchor#revs
      .panel.panel-default.panel-body-white
        .panel-body
          h3.no-margin Reviews
          hr.margin-eq
          != render('reviews/reviews_block', { user: user })

    //- Recommendations Vue component
    != render('shared/users_recommendations_panel.vue')

    //- Wanted services
    if wanteds && wanteds.length > 0
      h4 Services #{user.fullName} is looking for:
      ul.row
        if browser.device.mobile
          each wanted, index in wanteds.slice(0, 9)
            li.l6= wanted.name
          if wanteds.length > 9
            li.l6.collapse.in
              button.btn-link.no-padding.no-border(data-toggle='collapse' data-target='.collapse') Show more
            .collapse(style='margin-top:-10px')
              each wanted in wanteds.slice(9)
                li.l6= wanted.name
        else
          each wanted in wanteds
            li.l6= wanted.name

//- Bottom section scripts
- content_for('bottom_section', function() {
  != render('references/recommendation.vue.slim', { onlyRecommendations: true })
  != javascript_include_tag('recommendations')

  script.
    $(function() {
      window.formatUserLinks();
      $('.sticky').Stickyfill();

      if ($.magnificPopup) {
        $('.user-avatar').magnificPopup({
          type: 'image',
          mainClass: 'mfp-fade',
          image: {
            verticalFit: true
          }
        });
      }

      $('#start-conversation-btn').on('click', function() {
        mixpanel.track('Start Conversation (Profile Page)');
      });
    });

    initRecommendations(gon.recommendations);
- })
